<div class="flex flex-col items-center mb-10">
  <%= form_with(
    model: pizza_delivery,
    local: true,
    class: "w-3/4"
  ) do |form| %>
    <%= form.label "Pizza", class: "mb-2 uppercase font-bold text-lg text-gray-800" %>
    <div class="border border-black p-2">
      <div class="flex flex-col mb-4">
        <%= form.label :pizza_type, "Pizza Type", class: "mb-2 uppercase font-bold text-sm text-gray-800" %>
        <%= form.collection_select(:pizza_type, PizzaDelivery.pizza_types.map { |pizza_type| [pizza_type.first, pizza_type.first.titleize] }, :first, :second, prompt: "Select a Pizza Type", class: "border border-gray-400 rounded py-2 px-3 text-gray-800")  %>
      </div>

      <div class="flex flex-col mb-4">
        <%= form.label :size, "Size", class: "mb-2 uppercase font-bold text-sm text-gray-800" %>
        <%= form.collection_select(:size, PizzaDelivery.sizes.map { |size| [size.first, size.first.titleize] }, :first, :second, prompt: "Select a Size", class: "border border-gray-400 rounded py-2 px-3 text-gray-800")  %>
      </div>

      <div class="flex flex-col mb-4">
        <%= form.label :crust, "Crust", class: "mb-2 uppercase font-bold text-sm text-gray-800" %>
        <%= form.collection_select(:crust, PizzaDelivery.crusts.map { |crust| [crust.first, crust.first.titleize] }, :first, :second, prompt: "Select a Crust", class: "border border-gray-400 rounded py-2 px-3 text-gray-800")  %>
      </div>
    </div>

    <%= form.label "Delivery Location", class: "mb-2 uppercase font-bold text-lg text-gray-800" %>
    <div class="border border-black p-2">
      <div class="flex flex-col mb-4">
        <%= form.label :address1, "Address 1", class: "mb-2 uppercase font-bold text-sm text-gray-800" %>
        <%= form.text_field :address1, class: "border border-gray-400 rounded py-2 px-3 text-gray-800" %>
      </div>
      <div class="flex flex-col mb-4">
        <%= form.label :address2, "Address 2", class: "mb-2 uppercase font-bold text-sm text-gray-800" %>
        <%= form.text_field :address2, class: "border border-gray-400 rounded py-2 px-3 text-gray-800" %>
      </div>
      <div class="flex flex-col mb-4">
        <%= form.label :latitude, "Latitude", class: "mb-2 uppercase font-bold text-sm text-gray-800" %>
        <%= form.text_field :latitude, class: "border border-gray-400 rounded py-2 px-3 text-gray-800" %>
      </div>
      <div class="flex flex-col mb-4">
        <%= form.label :longitude, "Longitude", class: "mb-2 uppercase font-bold text-sm text-gray-800" %>
        <%= form.text_field :longitude, class: "border border-gray-400 rounded py-2 px-3 text-gray-800" %>
      </div>
      <div class="flex flex-col md:flex-row">
        <div class="flex flex-col mb-4 mx-1 md:w-1/3">
          <%= form.label :city, "City", class: "mb-2 uppercase font-bold text-sm text-gray-800" %>
          <%= form.text_field :city, class: "border border-gray-400 rounded py-2 px-3 text-gray-800" %>
        </div>
        <div class="flex flex-col mb-4 mx-1 md:w-1/3">
          <%= form.label :state, "State", class: "mb-2 uppercase font-bold text-sm text-gray-800" %>
          <%= form.collection_select(:state, states_list, :id, :name, prompt: "Select a state", class: "border border-gray-400 rounded py-2 px-3 text-gray-800")  %>
        </div>
        <div class="flex flex-col mb-4 mx-1 md:w-1/4">
          <%= form.label :postal_code, "Postal Code", class: "mb-2 uppercase font-bold text-sm text-gray-800" %>
          <%= form.text_field :postal_code, class: "border border-gray-400 rounded py-2 px-3 text-gray-800" %>
        </div>
      </div>
    </div>

    <%= form.submit class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer" %>
  <% end %>
</div>
