<div class="flex flex-col items-center mb-10">
  <%= form_with(
    model: pizza_delivery,
    local: true,
    data: {
      controller: "pizza-deliveries-form",
      pizza_deliveries_form_google_api_key: ENV["GOOGLE_API_KEY"],
      pizza_deliveries_form_latitude: pizza_delivery.latitude,
      pizza_deliveries_form_longitude: pizza_delivery.longitude
    },
    class: "w-3/4"
  ) do |form| %>
    <div data-pizza-deliveries-form-target="map" style="height:400px"></div>
    <%= form.label "Pizza", class: "mb-2 uppercase font-bold text-lg text-gray-800" %>
    <div class="border border-black p-2">
      <div class="flex flex-col mb-4">
        <%= form.label :pizza_type, "Pizza Type", class: "mb-2 uppercase font-bold text-sm text-gray-800" %>
        <%= form.collection_select(:pizza_type, PizzaDelivery.pizza_types.map { |pizza_type| [pizza_type.first, pizza_type.first.titleize] }, :first, :second, prompt: "Select a Pizza Type", class: "border border-gray-400 rounded py-2 px-3 text-gray-800")  %>
      </div>

      <div class="flex flex-col mb-4">
        <%= form.label :size, "Size", class: "mb-2 uppercase font-bold text-sm text-gray-800" %>
        <%= form.collection_select(:size, PizzaDelivery.sizes.map { |size| [size.first, size.first.titleize] }, :first, :second, prompt: "Select a Size", class: "border border-gray-400 rounded py-2 px-3 text-gray-800")  %>
      </div>

      <div class="flex flex-col mb-4">
        <%= form.label :crust, "Crust", class: "mb-2 uppercase font-bold text-sm text-gray-800" %>
        <%= form.collection_select(:crust, PizzaDelivery.crusts.map { |crust| [crust.first, crust.first.titleize] }, :first, :second, prompt: "Select a Crust", class: "border border-gray-400 rounded py-2 px-3 text-gray-800")  %>
      </div>
    </div>

    <%= form.label "Delivery Location", class: "mb-2 uppercase font-bold text-lg text-gray-800" %>
    <div class="border border-black p-2">
      <div class="flex flex-col mb-4">
        <%= form.label :location, required: true, class: "mb-2 uppercase font-bold text-lg text-gray-800" %>
        <%= form.search_field :location, value: pizza_delivery.city.present? ? "#{pizza_delivery.city}, #{pizza_delivery.state}" : "", data: { "pizza-deliveries-form-target" => "searchField", action: "keydown->pizza-deliveries-form#keydown" }, class: "border border-gray-400 rounded py-2 px-3 text-gray-800" %>
      </div>

      <%= form.hidden_field :latitude, data: { "pizza-deliveries-form-target" => "latitude" } %>
      <%= form.hidden_field :longitude, data: { "pizza-deliveries-form-target" => "longitude" } %>
    </div>

    <%= form.submit class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer" %>
  <% end %>
</div>
