<h1 class="text-4xl font-bold text-center">Pizza Delivery</h1>

<div class="flex flex-col items-center">
  <div class="w-3/4">
    <p class="uppercase font-bold text-lg text-gray-800">Location</p>
    <p><%= pizza_delivery_location(@pizza_delivery) %></p>
    <p class="uppercase font-bold text-lg text-gray-800">Pizza Type</p>
    <p><%= @pizza_delivery.pizza_type.titleize %></p>
    <p class="uppercase font-bold text-lg text-gray-800">Size</p>
    <p><%= @pizza_delivery.size.titleize %></p>
    <p class="uppercase font-bold text-lg text-gray-800">Crust</p>
    <p><%= @pizza_delivery.crust.titleize %></p>
    <p class="uppercase font-bold text-lg text-gray-800">Actions</p>
    <%= link_to("Edit", edit_pizza_delivery_path(@pizza_delivery.id), class: "block font-sans text-sm antialiased font-medium leading-normal text-amber-400") %>
    <%= link_to("Delete", pizza_delivery_path(@pizza_delivery.id), method: :delete, class: "block font-sans text-sm antialiased font-medium leading-normal text-red-400") %>
  </div>
</div>
