<!DOCTYPE html>
<html>
  <head>
    <title>PizzaDeliveries</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% @notifications = Notification.where(user: current_user, hidden: false).order(created_at: :desc) %>
    <%= render partial: 'layouts/nav_header', locals: { notification_count: @notifications.count } %>
    <%= render partial: 'layouts/notification_modal', locals: { notifications: @notifications } %>

    <main class="container mx-auto mt-10 px-5">
      <% flash.each do |type, msg| %>
        <div>
          <%= msg %>
        </div>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>
